<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Node Dash: MPEG-DASH player</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">
  #video-container { position: inherit; }
  video { height: 300px; }
  video::-webkit-media-controls-enclosure { display: none !important; }
  .media-information {
    display: none; position: absolute; top: 0; left: 0; z-index: 2147483647;
    color: white; width: 170px; padding-top: 4px; padding-left: 5px;
    opacity: .6; background-color: black;
  }
  .loading-bar {
    position: absolute; display: none; left: 0; top: 0; height: 4px;
    background-color: black; z-index: 2147483647;
  }
  .current-loading { background-color: #2780e3; width: 0%; height: 4px; }
  </style>
</head>
<body>
  <div class="col-md-12">
    <h2>Node Dash</h2>
    <h5 id="title">Loading video…</h5>
    <div id="video-container"></div>
    <p id="error" style="color:#c00; display:none">
      Could not load the DASH manifest. Check the server logs.
    </p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/dash-client.js"></script>
  <script>
    // Playback descriptor is prepared server-side from the DASH manifest.
    var videoData = <%- JSON.stringify(videoData) %>;

    $(document).ready(function () {
      if (!videoData) {
        $('#title').hide();
        $('#error').show();
        return;
      }
      var container = document.getElementById('video-container');
      new DashClient(videoData, container, function () {
        $('#title').text('Video ready: playing via MPEG-DASH + Media Source Extensions');
      });
    });
  </script>
</body>
</html>
